
wechat-admin/.classpath

wechat-admin/.project

wechat-admin/.settings/.jsdtscope

*.prefs

wechat-admin/.settings/org.eclipse.wst.common.component

wechat-admin/.settings/org.eclipse.wst.common.project.facet.core.xml

wechat-admin/.settings/org.eclipse.wst.jsdt.ui.superType.container

wechat-admin/.settings/org.eclipse.wst.jsdt.ui.superType.name
